* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: auto;
  background: linear-gradient(45deg, #2fcca5, #157dc2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px 5px 10px;
}

button:hover {
  border: 1px solid black;
  cursor: pointer;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #3b8884, white);
}

#bar1, #bar2 {
  height: 10px;
  width: 100px;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.activestep {
  background-color: aliceblue;
}

#step-1, #step-2, #step-3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  height: 30px;
  margin: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

input:hover {
  border: 1px solid black;
}

.statusbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.pageheading {
  font-family: monospace;
  font-weight: 100;
}

.container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1, #page-2, #page-3, #page-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  background: linear-gradient(45deg, #fffcfe, #fffdfd);
}
/*# sourceMappingURL=index.css.map */